{% extends "layout.html" %}

{% block content %}
<h1><i class="em em-cake" aria-role="presentation" aria-label="SHORTCAKE"></i>FELÍZ CUMPLEAÑOS<i class="em em-tada" aria-role="presentation" aria-label="PARTY POPPER"></i></i></h1>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">20/05/20</h1>
      <p class="lead"><i class="em em-sunflower" aria-role="presentation" aria-label="SUNFLOWER"></i>Para Cami.<i class="em em-sunflower" aria-role="presentation" aria-label="SUNFLOWER"></i></p>
      <p class= "lead">----------------------------------------------------------------</p>
      <P class="lead"> Pensé mucho en que decirte, AHHHHH y justo ahora que tengo la oportunidad de decirte lo increíble que eres
        es cuando mi mente está en blanco, quizás es porque hay un torrencial de ideas que no se por dónde empezar jsjs. Tienes tantísimas cualidades que 
        ni siquiera 100 palabras alcanzan para definirte, eres única. <i class="em em-crossed_fingers" aria-role="presentation" aria-label="HAND WITH INDEX AND MIDDLE FINGERS CROSSED"></i>
         
      </P>
      <p class="lead">Es muy bonito encontrar en mi teléfono un mensaje tuyo,  hablar contigo, hacerte reír con mil y una tonterías mías, son cosas que en los últimos meses he aprendido a valorar muchísimo,
         porque son sonrisas, momentos y recuerdos sinceros, te adueñaste de un lugar muy especial de mi cora :3, no quiero ponerme tan melodramático o cursi, pero quiero que sepas que eres asombrosa,
         eres una personita con una creatividad increíble y de quien he aprendido mucho. 
        </p>
      <p class="lead">Espero que este día sea muy especial y lo disfrutes al máximo, si te preguntas por qué decidí hacer este regalo de esta manera, es porque no muchas personas en el mundo pueden alardear que 
        alguien les regaló una página web, y tu podrás hacerlo jsjsjs, quería hacer algo único para ti, y espero no haya sido demasiado raro.  Aún tengo mucho que contarte, pero no quiero aburrirte, eres lo mejor 
        que me ha pasado en los últimos años. <i class="em em-star" aria-role="presentation" aria-label="WHITE MEDIUM STAR"></i> ¡Feliz cumpleaños! <i class="em em-star" aria-role="presentation" aria-label="WHITE MEDIUM STAR"></i></p> 
        <p class="lead">----------------------------------------------------------------</p>
      <p class="lead">Con cariño: Alex. <i class="em em-v" aria-role="presentation" aria-label="VICTORY HAND"></i><i class="em em-kissing_smiling_eyes" aria-role="presentation" aria-label="KISSING FACE WITH SMILING EYES"></i></p>
    </div>
  </div>
  <div class="text-center">
    <img src="https://i.pinimg.com/originals/ff/4b/1c/ff4b1cda679ab5fe4f42f20b5a08afa9.jpg" alt="..." class="img-thumbnail" width="300px">
  </div>
{% endblock %}